*, :focus {
    outline: 0
}

*, img {
    border: 0
}

a, body {
    color: #A6A6A6;

}

a {
    text-decoration: underline;
}

.about, body {
    background-color: #FFF;
    position: relative
}

.alert.alert-success h3, a, p {
    font-weight: 400
}

.footer__title, .header__logo {
    text-align: center
}

.footer__author-link, .header__scrolldown, .logo, .logo--dark, .profile__link {
    text-indent: -9000px;
    white-space: nowrap;
    overflow: hidden
}

.register__input, body, h1, h2, h3, h4, h5 {
    font-family: Lato, sans-serif
}

.feature__icon--android, .feature__icon--apple, .footer__author-link, .footer__link--email:before, .footer__link--phone:before, .header__scrolldown, .logo, .logo--dark, .profile__link, .register__input-container--email:before, .register__input-container--name:before {
    background-image: url(../themes/teampulse/dist/img/sprite.svg);
    background-size: 46.0625em 21.75em
}

.lt-ie9 .feature__icon--android, .lt-ie9 .feature__icon--apple, .lt-ie9 .footer__author-link, .lt-ie9 .footer__link--email:before, .lt-ie9 .footer__link--phone:before, .lt-ie9 .header__scrolldown, .lt-ie9 .logo, .lt-ie9 .logo--dark, .lt-ie9 .profile__link, .lt-ie9 .register__input-container--email:before, .lt-ie9 .register__input-container--name:before {
    background-image: url()
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 90%
}

@media screen and (min-width: 768px) {
    html {
        font-size: 100%
    }
}

@media screen and (min-width: 960px) {
    html {
        font-size: 115%
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 130%
    }
}

body {
    line-height: 1.4;
    letter-spacing: .05em;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;

}

img {
    max-width: 100%;
    height: auto
}

p {
    line-height: 1.65
}

a {
    text-decoration: underline
}

a:hover {

    text-decoration: none
}

.btn, .btn--open, .nav__list-item-link, .nav__list-item-link:hover {
    text-decoration: none
}

h1, h2, h3, h4, h5 {
    margin: 0 0 .3125em;
    color: #fff;
    line-height: 1.2
}

.about {
    z-index: 1
}

.alert {
    display: block;
    margin: 0 auto;
    max-width: 34.375em
}

.alert.alert-success h3 {
    font-size: 1.25em;
    color: #00A672
}

.alert.alert-success p {
    color: rgba(255, 255, 255, .7)
}

.alert.alert-danger p {
    color: #D73021
}

.btn, .btn--open {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .625em 1.125em;
    border-radius: 3px;
    background-color: #F3762C;
    color: #FFF;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    text-transform: uppercase
}

.btn--open:hover, .btn:hover {
    background-color: #f26614;
    text-decoration: none
}

.btn--open {
    background-color: transparent;
    border: 1px solid #F3762C;
    color: #F3762C
}

.btn--open:hover {
    background-color: #F3762C;
    color: #FFF
}

.features, .footer {
    background-color: #FFF;
    position: relative
}
.features{
    background: url(http://tricking-school.prom-index.ru/images/body-bg.gif) 50% 0;
}
footer{
    background: url(http://tricking-school.prom-index.ru/images/body-bg.gif) 50% 0;
}
.sticky .header__top{
    background: url(http://tricking-school.prom-index.ru/images/body-bg.gif) 50% 0;
}
.container, .footer__container, .header__content-container, .header__top-container, .register__container, .supportbar__container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 71.25em;
    padding: 0 1.5625em
}

.container:after, .container:before, .footer__container:after, .footer__container:before, .header__content-container:after, .header__content-container:before, .header__top-container:after, .header__top-container:before, .register__container:after, .register__container:before, .supportbar__container:after, .supportbar__container:before {
    content: "";
    display: table;
    clear: both
}

.feature {
    position: relative;
    display: block;
    width: 100%;
    padding: 1.875em 0;
    z-index: 1;
    overflow: hidden;
    border-top: 2px solid #E7E7E7;
    background: url(http://tricking-school.prom-index.ru/images/body-bg.gif) 50% 0;
}

.feature:nth-child(2) {
    border-top: 0;
    padding-top: 0
}



@media screen and (min-width: 668px) {


    .feature:nth-child(2) {
        margin-top: -15.625em
    }

    .feature__text--left-bottom {
       /* padding-top: 18.75em*/
    }

    .feature__img--right {
        /*padding-top: 12.75em;*/
    }



}

.features .feature:nth-child(2) {
    border-top: 1px solid #E7E7E7;
    margin-top: 0
}

.feature__text, .feature__text--centered, .feature__text--left, .feature__text--left-bottom, .feature__text--right {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: middle;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.feature__text--left, .feature__text--left-bottom {
    padding-left: calc((100% - 71.25em) / 2)
}

.feature__text--right {
    padding-right: calc((100% - 71.25em) / 2)
}

.bolderLevel {
    font-weight: bold;
}

.feature__text--centered {
    width: 100%;
    max-width: 40.625em;
    display: block;
    margin: 0 auto
}

@media screen and (min-width: 668px) {
    .feature__text--centered {
        width: 100% !important
    }

    .feature__text, .feature__text--centered, .feature__text--left, .feature__text--left-bottom, .feature__text--right {
        width: 49%
    }
}

.feature__text-content {
    padding: 1.5625em
}

.feature__text-title, .footer__title, .register__title {
    font-weight: 400;
    color: #fff;
    font-size: 1.875em;
    margin-bottom: .9375em
}

.feature__img, .feature__img--centered, .feature__img--left, .feature__img--right, .feature__img--right-small {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.feature__img img, .feature__img--centered img, .feature__img--left img, .feature__img--right img, .feature__img--right-small img {
    display: block;
    position: relative;
    width: auto
}

.feature__img--left {
    left: 0
}

.feature__img--left img {
    left: 0;
    /*  -webkit-transform: translateX(-25%);
      transform: translateX(-25%);
      max-width: 150%*/
}

@media screen and (min-width: 1340px) {
    /*  .feature__img--left img {
          left: 25%
      }*/
}

@media screen and (min-width: 1680px) {
    /*  .feature__img--left img {
          left: 30%
      }*/
}

@media screen and (min-width: 2080px) {
    /* .feature__img--left img {
         left: 50%
     }*/
}

.feature__img--right, .feature__img--right-small {
    right: 0;
    margin-top: -3.125em
}

.feature__img--right img, .feature__img--right-small img {
    right: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    max-width: 200%
}

.feature__img--right-small img {
    right: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    max-width: 41.25em
}

.feature__img--centered {
    width: 100% !important;
    margin-bottom: -11.25em
}

@media screen and (min-width: 468px) {
    .feature__img--centered {
        margin-bottom: -20em
    }
}

.feature__img--centered img {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 150%
}

@media screen and (min-width: 668px) {
    .feature__img--right, .feature__img--right-small {
        margin-top: 0
    }

    .feature__img, .feature__img--centered, .feature__img--left, .feature__img--right, .feature__img--right-small {
        width: 49%
    }
}

.feature__img-wrapper {
    width: 100%;
    position: relative;
    min-height: 12.5em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.feature__image {
    max-width: none;
    width: auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.feature__icon, .feature__icon--android, .feature__icon--apple {
    display: inline-block;
    vertical-align: middle;
    margin-right: .625em;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
    text-indent: -9000px;
    white-space: nowrap;
    overflow: hidden
}

.feature__icon--apple {
    width: 3.5em;
    height: 3.5em;
    background-position: -3.4375em -3.4375em
}

.lt-ie9 .feature__icon--apple {
    width: 55px;
    height: 55px;
    background-position: -55px -55px
}

.feature__icon--android {
    width: 3.5em;
    height: 3.5em;
    background-position: 0 0
}

.lt-ie9 .feature__icon--android {
    width: 55px;
    height: 55px;
    background-position: 0 0
}

.features {
    z-index: 3
}

.footer {
    display: block
}

.footer__container {
    padding-top: 3.125em;
    padding-bottom: 3.125em
}

.footer__title:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
    margin-top: 1.25em
}

.footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 1.25em
}

@media screen and (min-width: 468px) {
    .footer__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%
    }
}

.footer__logo {
    margin-bottom: 1.25em
}

.footer__link, .footer__link--email, .footer__link--phone {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: .625em
}

.footer__link--email:before, .footer__link--phone:before, .footer__link:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: .625em
}

.footer__link--phone:before {
    width: 1.0625em;
    height: 1.625em;
    background-position: -34.6875em -17.4375em
}

.lt-ie9 .footer__link--phone:before {
    width: 16px;
    height: 25px;
    background-position: -555px -279px
}

.footer__link--email:before {
    width: 1.5625em;
    height: 1.125em;
    background-position: -29.125em -12.6875em
}

.lt-ie9 .footer__link--email:before {
    width: 24px;
    height: 17px;
    background-position: -466px -203px
}

.footer__profile {
    position: relative
}

.footer__author-link {
    display: inline-block;
    width: 10.41875em;
    height: 2.79375em;
    background-position: -35.6875em -19em;
    margin-top: .625em
}

.lt-ie9 .footer__author-link {
    width: 165.7px;
    height: 43.7px;
    background-position: -571px -304px
}

.header {
    position: relative;
    width: 100%;
    height: 30em
}

.header__top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.sticky .header__top {
    background-color: #FFF;
    border-bottom: 1px solid #E7E7E7
}

.header__top-container {
    padding-top: 1.5625em;
    padding-bottom: 1.5625em;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.sticky .header__top-container {
    padding-top: .9375em;
    padding-bottom: .9375em
}

.header__logo {
    display: block;
    position: relative
}

@media screen and (min-width: 668px) {
    .footer__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
        flex: 0 1 33.33%
    }

    .header {
        height: 43.25em;
    }

    .header__logo {
        float: left;
        text-align: left
    }
}

.header__nav {
    float: right;
    position: relative;
    display: none
}

.header__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 30em;
    opacity: 1
}

@media screen and (min-width: 668px) {
    .header__nav {
        display: block
    }

    .header__content {
        height: 43.25em;
    }
}

.header__content:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNzMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
    background-size: 100%;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .43) 0, rgba(0, 0, 0, .73) 100%);
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, .43) 0, rgba(0, 0, 0, .73) 100%)
}

.header__content-splash {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.header__content-container {
    position: absolute;
    top: 50%;
    left: calc(50% - 405px);
    z-index: 10;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    max-width: 41.875em;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 959px) {
    .header__content-container {
        position: absolute;
        top: 50%;
        left: calc(50% - 335px);
    }
}
@media screen and (max-width: 768px) {
    .header__content-container {
        position: absolute;
        top: 50%;
        left: calc(50% - 301.5px);
    }
}
@media screen and (max-width: 668px) {
    .header__content-container {
        position: absolute;
        top: 50%;
        left: calc(50% - 301.5px);
    }
}
@media screen and (max-width: 603px) {
    .header__content-container {
        position: absolute;
        top: 50%;
        left: 0%;
    }
}


.vkLogo {
    width: 42px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px;
}

.header__content-title {
    color: #FFF;
    font-size: 1.875em
}

@media screen and (min-width: 668px) {
    .header__content-title {
        font-size: 2.8125em
    }
}

.header__content-subtitle {
    color: #FFF;
    font-style: italic;
    margin-bottom: 1.25em;
    font-size: 1.125em
}

@media screen and (min-width: 668px) {
    .header__content-subtitle {
        font-size: 1.25em
    }
}

.header__content-btn, .register__input, .register__submit {
    font-size: 1.125em
}

.header__scrolldown {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 2.5em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1.6875em;
    height: 1em;
    background-position: -6.875em -6.875em;
    z-index: 888;
    cursor: pointer
}

.lt-ie9 .header__scrolldown {
    width: 26px;
    height: 15px;
    background-position: -110px -110px
}

.logo, .logo--dark {
    display: inline-block;
    width: 10.375em;
    height: 2.5em;
    background-position: -18.8125em -10.25em
}

.nav, .nav__list {
    display: block
}

.lt-ie9 .logo, .lt-ie9 .logo--dark {
    width: 165px;
    height: 39px;
    background-position: -301px -164px
}

.sticky .logo, .sticky .logo--dark {
    background-position: -8.5em -7.8125em
}

.lt-ie9 .sticky .logo, .lt-ie9 .sticky .logo--dark {
    background-position: -136px -125px
}

.logo--dark {
    background-position: -8.5em -7.8125em
}

.lt-ie9 .logo--dark {
    background-position: -136px -125px
}

.nav__list {
    list-style-type: none
}

.nav__list-item {
    display: inline-block;
    padding: 0 1em
}

.nav__list-item:last-child {
    padding-right: 0
}

.nav__list-item-link {
    display: block;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.nav__list-item-link:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -.3125em;
    left: 0;
    width: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height: 1px;
    background-color: #FFF
}

.nav__list-item-link:hover:after {
    width: 100%
}

.sticky .nav__list-item-link {
    color: white;
}

.sticky .nav__list-item-link:after {
    background-color: #666
}

.navigation {
    width: 100%;
    background-color: #FFF;
    height: 5em;
    z-index: 998;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.profile__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 6.25em;
    height: 6.25em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 1.25em;
    border-radius: 50%
}

.profile__content {

    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.profile__link {
    display: inline-block;
    width: 1.375em;
    height: 1.375em;
    background-position: -32.125em -14.75em;
    margin-top: 1.25em
}

.lt-ie9 .profile__link {
    width: 21px;
    height: 21px;
    background-position: -514px -236px
}

.register {
    position: relative;
    display: block;
    width: 100%;
    background-color: #262262;
    z-index: 8;
    box-shadow: 0 -.25em 1.5625em 0 rgba(0, 0, 0, .13)
}

.register__container {
    padding-top: 3.75em;
    padding-bottom: 3.75em
}

.register__content {
    width: 100%;
    margin: 0 auto;
    text-align: center
}

.register__content p {
    color: rgba(255, 255, 255, .7);
    max-width: 40.625em;
    margin: 0 auto;
    display: block
}

.register__title {
    color: #FFF;
    max-width: 40.625em;
    margin-left: auto;
    margin-right: auto
}

.register__form {
    display: block;
    margin-top: 1.5625em
}

.register__input-container, .register__input-container--email, .register__input-container--name {
    margin-right: .3125em;
    margin-bottom: .625em;
    display: inline-block;
    position: relative;
    width: 100%
}

@media screen and (min-width: 480px) {
    .register__input-container, .register__input-container--email, .register__input-container--name {
        width: auto
    }
}

.register__input-container--email:before, .register__input-container--name:before, .register__input-container:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: .625em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.register__input-container--name:before {
    width: 1.3125em;
    height: 1.4375em;
    background-position: -33.4375em -16.0625em
}

.lt-ie9 .register__input-container--name:before {
    width: 20px;
    height: 22px;
    background-position: -535px -257px
}

.register__input-container--email:before {
    width: 1.5625em;
    height: 1.0625em;
    background-position: -30.625em -13.75em
}

.lt-ie9 .register__input-container--email:before {
    width: 24px;
    height: 16px;
    background-position: -490px -220px
}

.register__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    padding: .625em .625em .625em 2.5em;
    color: #666;
    border-radius: 3px;
    width: 100%
}

.register__submit {
    margin-bottom: .625em;
    vertical-align: top;
    width: 100%
}

@media screen and (min-width: 480px) {
    .register__submit {
        width: auto
    }
}

.register__bottom {
    display: block;
    width: 100%;
    height: .3125em;
    box-shadow: 0 .125em .625em 0 rgba(0, 0, 0, .5)
}

.register__bottom:after, .register__bottom:before {
    content: "";
    display: table;
    clear: both
}

.register__bottom-line, .register__bottom-line--blue, .register__bottom-line--green, .register__bottom-line--orange, .register__bottom-line--red, .register__bottom-line--yellow {
    display: block;
    float: left;
    width: 20%;
    height: 100%
}

.supportbar__logos, .supportbar__text {
    display: inline-block;
    vertical-align: middle
}

.register__bottom-line--red {
    background-color: #D73021
}

.register__bottom-line--orange {
    background-color: #F3762C
}

.register__bottom-line--yellow {
    background-color: #FED10B
}

.register__bottom-line--blue {
    background-color: #00A6F2
}

.register__bottom-line--green {
    background-color: #00A672
}

.supportbar {
    position: relative;
    width: 100%;
    background-color: #F9F9FA
}

.supportbar__text {
    font-weight: 300;
    color: #9B9B9B;
    margin: .625em 1.5625em .625em 0
}

.supportbar__logo, .supportbar__logo--knkv, .supportbar__logo--teamtv {
    width: 3.75em;
    height: 2.375em;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center
}

.supportbar__logo--knkv {
    background-image: url(../themes/teampulse/dist/img/design/logo-knkv.png);
    margin-right: 1.5625em
}

.supportbar__logo--teamtv {
    background-image: url(../themes/teampulse/dist/img/design/logo-teamtv.png)
}

.supportbar__container {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    text-align: center
}

@media screen and (min-width: 668px) {
    .supportbar__container {
        text-align: left
    }
}
.mp-slider .items{
    margin: 0 auto;
    text-align: center;
}
.mp-slider .items li{
    display:inline-block;
    width: 300px;
}

@media screen and (min-width: 621px) {
    .mp-slider .items li{
        width: 100%;
    }
}